In [180]:
#Importando Biliotecas
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [181]:
#lendo arquivo csv para analizar dados
df = pd.read_csv('relatorio_vendas.csv')
df

,data_pedido,modo_envio,nome_cliente,segmento_cliente,cidade,estado,regiao,departamento,tipo_produto,vendas,quantidade,lucro
0,2018-11-09,Econômica,Thiago Silveira,B2C,Ribeirão Preto,São Paulo,Sudeste,Materiais de construção,encanamentos,890.66,2,142.51
1,2018-11-09,Econômica,Thiago Silveira,B2C,Ribeirão Preto,São Paulo,Sudeste,Materiais de construção,ferramentas,2488.60,3,746.58
2,2018-06-13,Econômica,Giovanna Lima,B2B,Rio de Janeiro,Rio de Janeiro,Sudeste,Jardinagem e paisagismo,sementes,49.71,2,23.36
3,2017-10-12,Entrega padrão,Ana Júlia da Cruz,B2C,Foz do Iguaçu,Paraná,Sul,Materiais de construção,materiais de revestimento,3255.76,5,-1302.31
4,2017-10-12,Entrega padrão,Ana Júlia da Cruz,B2C,Foz do Iguaçu,Paraná,Sul,Jardinagem e paisagismo,vasos,76.05,2,8.56
...,...,...,...,...,...,...,...,...,...,...,...,...
8935,2018-09-30,Entrega padrão,Enrique Santos,B2C,Rio de Janeiro,Rio de Janeiro,Sudeste,Automotivo,ferramentas automotivas,123.22,1,51.75
8936,2019-11-18,Entrega padrão,Heitor Silveira,B2B,Jequié,Bahia,Nordeste,Automotivo,ferramentas automotivas,271.97,1,97.91
8937,2019-11-18,Entrega padrão,Heitor Silveira,B2B,Jequié,Bahia,Nordeste,Automotivo,pneus,700.74,5,189.20
8938,2016-01-22,Econômica,Isabel Araújo,B2C,João Pessoa,Paraíba,Nordeste,Materiais de construção,iluminação,85.84,3,13.95
8939,2019-05-05,Econômica,Esther Rodrigues,B2C,Mossoró,Rio Grande do Norte,Nordeste,Jardinagem e paisagismo,mobiliário de exterior,826.74,2,248.02

In [182]:
#Checando informações dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_pedido       8940 non-null   object
 1   modo_envio        8940 non-null   object
 2   nome_cliente      8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   cidade            8940 non-null   object
 5   estado            8940 non-null   object
 6   regiao            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_produto      8940 non-null   object
 9   vendas            8940 non-null   float64
 10  quantidade        8940 non-null   int64
 11  lucro             8940 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 838.3+ KB

In [183]:
#Como a data estava como tipo errado transformei em um datetime64[ns]
df['data_pedido'] = pd.to_datetime(df['data_pedido'])

In [184]:
#Checando se o tipo está correto
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_pedido       8940 non-null   datetime64[ns]
 1   modo_envio        8940 non-null   object
 2   nome_cliente      8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   cidade            8940 non-null   object
 5   estado            8940 non-null   object
 6   regiao            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_produto      8940 non-null   object
 9   vendas            8940 non-null   float64
 10  quantidade        8940 non-null   int64
 11  lucro             8940 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 838.3+ KB

# Demandas de Vendas

In [185]:
#Estruturação dos dataframe 
#Criando um ranque de 10 clientes os quais mais vendemos
df_clientes_vendas = df.groupby(['nome_cliente'])['vendas'].sum().nlargest(10).copy()
df_clientes_vendas = df_clientes_vendas.reset_index()
df_clientes_vendas

            nome_cliente    vendas
0    Maria Luiza Almeida  64777.54
1        Ana Julia Pinto  51398.95
2            Ryan Farias  48178.94
3         Heitor da Mata  47610.85
4  Maria Clara Gonçalves  46946.42
5         Raquel Freitas  44826.26
6             Davi Ramos  43769.21
7            Amanda Melo  42354.27
8         Alexia Ribeiro  41238.84
9         Calebe Ribeiro  41056.70

In [186]:
#Aqui está uma melhor forma de veriricar o nosso ranque com os 10 clientes os quais mais vendemos
df_clientes_vendas.columns = ['Clientes', 'Vendas']
df_clientes_vendas['Ranque'] = df_clientes_vendas.index + 1
df_clientes_vendas.set_index('Ranque', inplace=True)
df_clientes_vendas

                     Clientes    Vendas
Ranque
1         Maria Luiza Almeida  64777.54
2             Ana Julia Pinto  51398.95
3                 Ryan Farias  48178.94
4              Heitor da Mata  47610.85
5       Maria Clara Gonçalves  46946.42
6              Raquel Freitas  44826.26
7                  Davi Ramos  43769.21
8                 Amanda Melo  42354.27
9              Alexia Ribeiro  41238.84
10             Calebe Ribeiro  41056.70

In [187]:
#transformando o nosso dataframe em um objeto style
s = df_clientes_vendas.style
s

In [188]:
#formatando a coluna vendas para uma melhor vizualiação
s.format({'Vendas' : 'R$ {:,.2f}'})
s

# Demandas Comercial

In [189]:
#Criando um dataframe para organização	
df_vendas_lucro = df.groupby(['tipo_produto']) [['vendas', 'lucro']].sum()
df_vendas_lucro.index.name = 'Tipos de Produto'
df_vendas_lucro

                               vendas      lucro
Tipos de Produto
decoração de jardim          82680.87   19880.86
encanamentos                373224.39  -11243.39
equipamentos de limpeza     542304.55   17448.30
ferramentas                 995159.43   82042.91
ferramentas automotivas     502109.33  126660.54
ferramentas de jardinagem   648880.47  106408.80
fertilizantes                53144.55   22509.86
iluminação                  275229.82   40531.09
materiais de paisagismo     150552.80   -3823.67
materiais de revestimento   629656.41  -57737.23
mobiliário de exterior      328932.37   53569.57
mudas                         8811.69    2762.88
pesticidas                  244958.41  106688.03
peças de reposição          486907.88  182297.32
pneus                      1022430.50  134923.09
sementes                     39980.49   17730.06
vasos                       696045.39   67887.28

In [190]:
#transformando o nosso dataframe em um objeto style
estilo_produto = df_vendas_lucro.style
estilo_produto

In [191]:
#Alteração do backgroud para uma melhor vizualiação
estilo_produto.format('R$ {:,.2f}')\
              .highlight_max(color='lightgreen')\
              .highlight_min(color='#F16165')
estilo_produto

In [192]:
estilo_produto.to_html('dataframe_estilizado.html')

In [193]:
#Adcionando gradiente
estilo_produto.format('R$ {:,.2f}').background_gradient(cmap='Greens')
estilo_produto

In [194]:
estilo_produto.to_html('dataframe_estilizado2.html')

In [195]:
#Alteração de cabeçalho 
cabecalho = {
    'selector':'th' ,
        'props':'font-weight: bold; font-family: Arial; text-align: center; text-transform: capitalize;'
}
estilo_produto.set_table_styles([cabecalho], overwrite=False)

In [196]:
estilo_produto.to_html('dataframe_estilizado3.html')

# Demanda de logística

In [197]:
#Criando um dataframe para região
df_regiao = pd.DataFrame(df['regiao'].value_counts())
df_regiao.columns = ['N° de pedidos']
df_regiao

              N° de pedidos
regiao
Sudeste                4470
Nordeste               2075
Centro-Oeste            983
Norte                   779
Sul                     633

In [198]:
#Aleterando o index para o nome correto
df_regiao.index.name = 'Região'

In [199]:
#Criando uma porcentagem para pedidos por região
porcentagem = df_regiao['N° de pedidos'].to_numpy()
porcentagem = 100 * porcentagem/porcentagem.sum()
porcentagem

array([50.        , 23.21029083, 10.99552573,  8.71364653,  7.08053691])

In [200]:
#Condicionando o dataframe com porcentagem de pedidos feitos por cada região
df_regiao['Porcentagem Região'] = porcentagem
df_regiao

              N° de pedidos  Porcentagem Região
Região
Sudeste                4470           50.000000
Nordeste               2075           23.210291
Centro-Oeste            983           10.995526
Norte                   779            8.713647
Sul                     633            7.080537

In [201]:
#Criando o objeto style
estilo_regiao = df_regiao.style
estilo_regiao

In [202]:
#Fazendo a padronização	do cabeçalho com CSS
cabecalho = {
    'selector': 'th',
    'props': 'font-weight: bold; font-family: Arial; text-align: right; background-color: white'
}
celulas = {
    'selector': 'td',
    'props': 'background-color: white;'
}

estilo_regiao.set_table_styles([cabecalho,celulas])

In [205]:
estilo_regiao.format({'Porcentagem Região':'{:.2f} %'})\
             .bar(subset='Porcentagem Região', vmin=0, vmax=100.0, color='#9CD33B')

KeyError: "None of [Index(['Porcentagem regiao'], dtype='object')] are in the [columns]"